# alias xmod='sh ~/xmodmap.sh'
# alias xm='sh ~/xmodmap.sh'
# alias XM='sh ~/xmodmap.sh'
alias gh='history|grep'
# alias tcn='mv --force -t ~/.local/share/Trash/files '
# alias open='xdg-open'
# alias hdmi='~/hdmi.sh'
# alias HDMI='~/hdmi.sh'

alias -g G="| grep"
alias -g L="| less"
alias -g GG="google.com"
alias -s txt=nvim
alias -s py=nvim
alias install="brew install"
alias remove="brew uninstall"
alias upgrade="brew update && brew upgrade"

alias ls='lsd'
alias nvim='nvim'
alias vim='nvim'
alias vi='nvim'
alias v='nvim'
alias vs='nvim -S'
alias vimdiff='nvim -d'
alias nvimrc='nvim ~/.config/nvim/init.vim'
alias tmuxrc='nvim ~/.tmux.conf'
alias zshrc='${=EDITOR} ${ZDOTDIR:-$HOME}/.zshrc'
alias ra='ranger'
alias ranger='source ranger'
alias fdfind='fd'
alias find='fd'
alias cat='bat'

# http://xkcd.com/530/
# alias stfu="amixer -D pulse sset Master 0%"
# alias pumpitup="amixer -D pulse sset Master 100%"
# alias sayonara='shutdown -h now'

#Alias to show lyrics of current song (Needs swaglyrics installed)
alias showlyrics="swaglyrics -c"

alias python="python3"

alias ta='tmux attach'

alias fzfi='rg --files --hidden --follow --no-ignore-vcs -g "!{node_modules,.git}" 2> /dev/null | fzf'
alias vifi='vim $(fzfi)'
alias fzf='fzf --preview "bat --color=always --style=numbers --line-range=:500 {}"'

# alias pbcopy='xclip -selection clipboard'
# alias pbpaste='xclip -selection clipboard -o'

# alias sierra='nmcli c up BARSIERRA'
# alias speaker='bluetoothctl connect E8:07:BF:08:E0:BF'
# alias nospeaker='bluetoothctl disconnect E8:07:BF:08:E0:BF'

alias weather='curl wttr.in/Berlin'
alias find-alias='PS4="+%x:%I>" zsh -i -x -c '' |& grep'
